version: "3"
services:
  db:
    image: mysql:5.7
    container_name: gaejangmo-local-db
    ports:
      - "3306:3306"
    environment:
      MYSQL_ROOT_PASSWORD: "password"
    command:
      - --character-set-server=utf8mb4
      - --collation-server=utf8mb4_unicode_ci
    volumes:
      - "./dump/:/docker-entrypoint-initdb.d/"
